{% extends "layout.html" %}
{% block body %}


  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card card-body">
        <form action="/materiasprimas/update/{{materias_primas.0}}" method="POST">
          
          <div class="form-group">
            <input type="text" name="nombre" value="{{materias_primas.1}}" class="form-control">
          </div>

          <div class="form-group">
            <input type="text" name="descripcion" value="{{materias_primas.2}}" class="form-control">
          </div>

          <div class="form-group">
            <input type="number" name="precio" value="{{materias_primas.3}}" class="form-control">
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
              Actualizar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}