{% extends "layout.html" %}
{% block body %}

<p class="titulo">Proveedores</p>
<div class="row">
    <div class="col-md-5">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <script>

            Swal.fire({

                title: "{{ message }}",
                // success , error , warning ,info


                icon: "{{ category }}"
                // success , error , warning ,info

            })

        </script>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="card card-body">
            <form action="{{url_for('proveedores')}}" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" name="nombre_pro" placeholder="Nombre Proveedor">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="marca" placeholder="Marca">
                </div>
                <input type="text" class="form-control" name="domicilio" placeholder="Domicilio">
                <div class="form-group">
                </div>
                <div class="form-group">
                    <input type="tel" class="form-control" name="telefono" placeholder="Telefono" maxlength="10" pattern="[0-9]{10}">
                </div>
                
                <button class="btn btn-primary btn-block">
                    Save
                </button>
            </form>
        </div>
    </div>
    <div class="col-md-7">
        <table class="table table-striped table-hover table-bordered table-sm bg-white">
            <thead>
                <tr>
                    <td>Nombre Proveedor</td>
                    <td>Marca</td>
                    <td>Domicilio</td>
                    <td>Telefono</td>
                    <td>Operations</td>
                </tr>
            </thead>
            <tbody>
                {% for proveedor in proveedores %}
                <tr>
                    <td>{{ proveedor.1 }}</td>
                    <td>{{ proveedor.2 }}</td>
                    <td>{{ proveedor.4 }}</td>
                    <td>{{ proveedor.5 }}</td>
                    <td>
                        <a href="/proveedores/edit/{{proveedor.0}}" class="btn btn-secondary">Editar</a>
                        <a proveedordid="{{proveedor.0}}" class="btn btn-danger btn-delete btn-eliminar2">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </script>
    </div>
</div>
</div>

{% endblock %}